$def with (upconcerts, full_data)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Get Psyched - Your Playlist</title>
</head>
<body>
<h1> Your Upcoming Shows Are: </h1>
<table id="showList" border=1>
<tr><th>Show</th><th>Venue</th><th>Date</th></tr>
$for k, v in upconcerts.iteritems():
    <tr><td>$(v['name'])</td>
    <td>$(v['venue'])</td>
    <td>$(v['date'])</td>
    </tr>
</table>

<h1> Based on your last.fm listens, you should catch up with these
  tracks </h1>

<table id="trackList" border=1>
<tr><th>Band</th><th>Songs</th></tr>
$for tracks in full_data.keys():
    <tr><th><img src=$full_data[tracks]['release_image']/></th><th>$full_data[tracks]['artistname']</th><th>$full_data[tracks]['trackname']</th><th><embed type='application/x-shockwave-flash' src='http://www.google.com/reader/ui/3523697345-audio-player.swf' flashvars='audioUrl=$full_data[tracks]['preview_url']' width='400' height='27' quality='best'></embed></th></tr>
</table>
</body>
</html>

