$def with (upconcerts)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Get Psyched - Your Playlist</title>
</head>
<body>
<h1> Your Upcoming Shows Are: </h1>
<table id="showList" border=1>
<tr><th>Show</th><th>Venue</th><th>Date</th></tr>
$for k, v in upconcerts.iteritems():
    <tr><td>$(v['name'])</td>
    <td>$(v['venue'])</td>
    <td>$(v['date'])</td>
    </tr>
</table>

<h1> Based on your last.fm listens, you should catch up with these
  tracks </h1>

<p> TBD </p>

</body>
</html>
